/*reset*/
/*html, body, div, span, a, p, main {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

html {
  background-color: rgb(0, 120, 0);
  width: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.02em;
  font-weight: 300;
  background: #c0c0c0;
  width: 100%;
  height: 100%;
}

main {
  position: fixed;
  left: 50.2%;
  top: 48.5%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  font-size: 2vw;
  text-align: center;

  width: 33vw;
  height: 33vw;
  padding:4vw;
  border-radius: 50%;
  transition: 0.2s;
}*/

#launch-page {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

#launch-fractal{
  display: inline;
  margin: 0 auto;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  color: aliceblue;
  border-radius: 50%;
  transform: translate(-4vw, -4vw);
  -webkit-transform: translate(-4vw, -4vw);


}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*alternate way to position #launch-fractal with same result*/
/*#launch-fractal{
  display: block;
  position: absolute;

  height: calc(100% - 8vw);
  width: calc(100% - 8vw);
  padding: 4vw;

  border-radius: 50%;
}*/

#fractal-title {
  font-size: 2.5vw;
  letter-spacing: 0.02em;
  padding-top: 2.7vw;
  color: aliceblue;
  /*this is to avoid having hover of the title's square edges cause hover to
  be activated on it's parent (launch-fractal), which is a circle*/
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#launch-text{
  display: inline;
  justify-content: baseline;
  justify-items: center;
  align-items: center;
  position: flex;
  color: aliceblue;
  padding-left: 35%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  font-size: 2em;
  letter-spacing: 0.02em;
}

#credit-line {
  display: inline;
  position: flex;
  justify-content: center;
  justify-items: center;
  padding-left: 25%;
  font-size: 1em;
  line-height: 1em;
  color: aliceblue;
}

#credit-line:hover .linkCode {
    color: #009800;
}

#launch-fractal:hover #launch-text {
  transition: 0.2s;
  color: #006d98;
}

#launch-detailed-fractal {
  display: inline;
  position: flex;
  justify-items: center;
  justify-content: center;
  transform: translate(42%, -50%);
  -webkit-transform:  translate(42%, -50%);
  color: aliceblue;
  padding-left: 25%;
  
  font-size: 1em;
}

.touch #launch-detailed-fractal {
  font-size: 2.1vw;
}

#fractal-canvas {
  cursor: pointer;
}

.reference{
  color: #000000;
}

.linkCode {
  color: #000000;
  text-decoration: none;
}

.linkCode:visited {
  color: #000000;
}

.linkCode:hover {
  color: #980090;
}

.linkCode {
  color: #78006e;
}*/

#fractal-background {
  position: fixed;
  width: 100vw;

  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.clear-fix:after {
  content: "";
  display: block;
  clear: both;
}

#fractal-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#fractal-graphics {
  display: none;
  margin: none;
}

#loading-fractal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 400%;
  height: 400%;
  background-color: rgba(0, 0, 0, 0.5);
}

#loading-frac-text {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: #c0c0c0;
  padding: 1vw 3vw;
  border-radius: 1vw;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 5vmin;
  text-align: center;
}

#loading-frac-title {
  font-size: 10vmin;
}

@media (orientation: landscape) and (max-width: 650px), (orientation: landscape) and (max-height: 550px), (orientation: portrait) and (max-height: 650px), (orientation: portrait) and (max-width: 550px) {

  #fractal-background {
    display: none;
  }

  main {
    width: 70vmin;
    height: 70vmin;
    padding:8vmin;
    font-size: 4vmin;
    background-color: #b0b0b0;
    box-shadow: 0 0 1vw rgba(0,60,0,0.4);
    transition: 0.3s;
  }

  #fractal-title {
    font-size: 5.5vmin;
    padding-top: 5.4vmin;
  }

  #launch-text {
    font-size: 5vmin;
  }

  #credit-line {
    font-size: 3.5vmin;
    bottom: 10vmin;
  }

  #launch-detailed-fractal, .touch #launch-detailed-fractal {
    font-size: 3.5vmin;
    white-space: nowrap;
    padding-bottom: 1.7vmin;

    top: auto;
    right: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0) rotate(0deg);
    -webkit-transform:  translate(-50%, 0) rotate(0deg);
  }

}
