* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
    .home,
    .Blogs,
    .Fractals,
    .FractalViewer {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .Blogs {
    background-image: url('../public/images/fractal2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:aliceblue;
    font-size: 100px;
  }
  
  .Fractals {
    background-image: url('../public/images/fractal5.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .FractalViewer {
    background-image: url('../public/images/fractal4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  